/*
    Jesús Alonso García - UO271723
    Descripcion de los estilos
     - Tipos de fuentes
     - Propiedades de colores de elementos
     - Propiedades de aspecto de los enlaces
     - Propiedaaades de listas y tablas.
*/

/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: black;
  background-color: #fff;
}
/*Especificidad: 001*/
header {
  color: #fff;
  background-color: #ff5733;
  text-transform: uppercase;
  padding: 2em 0em 2em;
  text-align: center;
}

section {
  padding: 1em;
}

p {
  padding: 0em 2em;
}

table {
  border: 1px solid black;
  width: 100%;
}

th {
  background-color: aquamarine;
}

td {
  background-color: rgb(204, 255, 238);
}

caption {
  font-weight: bold;
  padding-bottom: 1em;
  font-size: 1.25em;
}

h3 > ul {
  list-style-type: disc;
}

ul {
  list-style-type: none;
}

nav ul {
  margin: 0em;
  padding: 0em;
  background-color: rgb(195, 195, 195);
}

nav li {
  padding: 1em 1em;
  border: 1px solid black;
}

ul a {
  text-decoration: none;
}

a {
  color:black;
}

footer a {
  color: white;
}

a:visited {
  color: black;
}

footer a:visited {
  color:white;
}

p > a:hover {
  font-weight: bold;
}

li > a {
  display: block;
  padding: 25% 1em;
  color: black;
  text-decoration: none;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

figcaption {
  text-align: center;
}

@media (max-width: 600px) {
  li > a {
    padding: 0em;
  }
}

li a:hover {
  text-decoration: underline;
}

footer {
  background: black;
}

footer > p,address {
  text-align: center;
  color: white;
  padding-bottom: 1em;
}

form {
  border: 1px solid black;
}

fieldset {
  background-color: rgb(245, 245, 245);
  margin: 2em;
}

textarea {
  resize: vertical;
  width: 100%;
  cursor: pointer;
}

input[type="text"], input[type="email"] {
  width: 100%;
  margin-top: 0.5em;
  height: 2em;
}