/*
    Jesús Alonso García - UO271723  
    Hoja de estilos hecha para el ejercicio 15, contiene el layout de la página web.
*/
/*
    Especifidad 0 0 1
*/
body {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar sidebar sidebar"
        "content content content"
        "footer footer footer";
}

@media (max-width: 640px) {

    /*
        Especifidad 0 0 2
    */
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

/*
    Especifidad 0 0 1
*/
header {
    grid-area: header;
}

/*
    Especifidad 0 0 1
*/
nav {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
  Especifidad 0 0 1
*/
footer {
    grid-area: footer;
}