/*
    Jesús Alonso García - UO271723  
    Hoja de estilos hecha para el ejercicio 15, contiene el layout de la página web.
*/

body {
    display: grid;
    grid-template-areas: "header header header"
                        "sidebar content content"
                        "sidebar content content"
                        "footer footer footer";
}

@media (max-width:600px) {
    body {
        display:grid;
        grid-template-areas: "header"
                            "sidebar"
                            "content"
                            "footer";
    }

    nav ul {
        list-style: none;
        display: flexbox;
        flex-direction: row;
        flex: 1 0 0 0;
        justify-content: flex-end;
    }
}

header {
    grid-area: header;
}

nav {
    grid-area: sidebar;
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
}

nav ul {
    display: flexbox;
    flex-direction: column;
}

section {
    grid-area: content;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    grid-area: footer;
}