/*
    Jesús Alonso García - UO271723  
    Hoja de estilos hecha para el ejercicio 15, contiene el layout de la página web.
*/

body {
    display: grid;
    grid-template-areas: "header header header"
                        "sidebar content content"
                        "sidebar content content"
                        "footer footer footer";
}

@media (max-width:600px) {
    body {
        grid-template-areas: "header"
                            "sidebar"
                            "content"
                            "footer";
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

header {
    grid-area: header;
}

nav {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    grid-area: footer;
}